platform/lib/javagat/adaptors/GT42Adaptor/share/schema/gram/jdd/managed_executable_job_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ManagedExecutableJob" targetNamespace="http://www.globus.org/namespaces/2008/03/gram/job/exec" xmlns:tns="http://www.globus.org/namespaces/2008/03/gram/job/exec" xmlns:wsbf="http://docs.oasis-open.org/wsrf/bf-2" xmlns:wsrp="http://docs.oasis-open.org/wsrf/rp-2" xmlns:gtwsdl1="http://www.globus.org/namespaces/2008/03/gram/job/terminate" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2" xmlns:gtwsdl3="http://www.globus.org/namespaces/2008/03/gram/job/release" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/rlw-2" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/rpw-2" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl2="http://www.globus.org/namespaces/2008/03/gram/job/faults" xmlns:job="http://www.globus.org/namespaces/2008/03/gram/job" xmlns:rdv="http://www.globus.org/namespaces/2008/04/rendezvous" xmlns:gtwsdl0="http://docs.oasis-open.org/wsrf/rw-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.globus.org/namespaces/2008/03/gram/job" location="managed_job_port_type.wsdl"/>
  <wsdl:import namespace="http://www.globus.org/namespaces/2008/03/gram/job/terminate" location="terminate_managed_job_provider_port_type.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsn/bw-2" location="../../wsrf/notification/bw-2.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rpw-2" location="../../wsrf/properties/rpw-2.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rlw-2" location="../../wsrf/lifetime/rlw-2.wsdl"/>
  <wsdl:import namespace="http://www.globus.org/namespaces/2008/03/gram/job/faults" location="managed_job_faults.wsdl"/>
  <wsdl:import namespace="http://www.globus.org/namespaces/2008/03/gram/job/release" location="release_managed_job_provider_port_type.wsdl"/>
  <wsdl:import namespace="http://www.globus.org/namespaces/2008/04/rendezvous" location="../../rendezvous/rendezvous_port_type.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-2" location="../../wsrf/resource/rw-2.wsdl"/>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.globus.org/namespaces/2008/03/gram/job/exec" xmlns:desc="http://www.globus.org/namespaces/2008/03/gram/job/description" xmlns:job="http://www.globus.org/namespaces/2008/03/gram/job" xmlns:rpns0="http://www.globus.org/namespaces/2008/03/gram/job/faults" xmlns:rpns1="http://docs.oasis-open.org/wsrf/rl-2" xmlns:tns="http://www.globus.org/namespaces/2008/03/gram/job/exec" xmlns:types="http://www.globus.org/namespaces/2008/03/gram/job/types" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://docs.oasis-open.org/wsrf/rl-2" schemaLocation="../../wsrf/lifetime/rl-2.xsd"/>

<xsd:import namespace="http://docs.oasis-open.org/wsrf/rp-2" schemaLocation="../../wsrf/properties/rp-2.xsd"/>

<xsd:import namespace="http://www.globus.org/namespaces/2008/04/rendezvous" schemaLocation="../../rendezvous/rendezvous_types.xsd"/>

<xsd:import namespace="http://www.globus.org/namespaces/2008/03/gram/job/faults" schemaLocation="managed_job_faults.xsd"/>


            <xsd:import namespace="http://www.globus.org/namespaces/2008/03/gram/job/types" schemaLocation="managed_job_types.xsd"/>

            <xsd:import namespace="http://www.globus.org/namespaces/2008/03/gram/job/description" schemaLocation="job_description.xsd"/>

            <!--==================================================-->
            <!--               resource properties                -->
            <!--==================================================-->

            <xsd:element name="localJobId" type="xsd:string"/>
            <xsd:element name="stdoutURL" type="xsd:anyURI"/>
            <xsd:element name="stderrURL" type="xsd:anyURI"/>
            <xsd:element name="credentialPath" type="xsd:string"/>

            <xsd:complexType name="ManagedExecutableJobResourcePropertiesType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:localJobId"/>
                    <xsd:element minOccurs="0" ref="tns:stdoutURL"/>
                    <xsd:element minOccurs="0" ref="tns:stderrURL"/>
                    <xsd:element minOccurs="0" ref="tns:credentialPath"/>
                    <xsd:element minOccurs="0" ref="types:exitCode"/>
                
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="rpns0:fault"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rdv:RendezvousCompleted"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="types:localUserId"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="wsrp:QueryExpressionDialect"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="types:userSubject"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="types:holding"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns1:TerminationTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rdv:Capacity"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="types:state"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="rdv:RegistrantData"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns1:CurrentTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="desc:serviceLevelAgreement"/>
          </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="managedExecutableJobResourceProperties" type="tns:ManagedExecutableJobResourcePropertiesType"/>

        </xsd:schema>
  </wsdl:types>
  <wsdl:portType name="ManagedExecutableJobPortType" wsrp:ResourceProperties="tns:managedExecutableJobResourceProperties">
    <wsdl:operation name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/QueryResourceProperties/QueryResourcePropertiesRequest"/>
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/QueryResourceProperties/QueryResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnavailableFault" message="gtwsdl0:ResourceUnavailableFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesRequest"/>
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnavailableFault" message="gtwsdl0:ResourceUnavailableFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeRequest"/>
      <wsdl:output message="wsntw:SubscribeResponse" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="UnsupportedPolicyRequestFault" message="wsntw:UnsupportedPolicyRequestFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="InvalidMessageContentExpressionFault" message="wsntw:InvalidMessageContentExpressionFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="UnacceptableInitialTerminationTimeFault" message="wsntw:UnacceptableInitialTerminationTimeFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="InvalidProducerPropertiesExpressionFault" message="wsntw:InvalidProducerPropertiesExpressionFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="TopicExpressionDialectUnknownFault" message="wsntw:TopicExpressionDialectUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="InvalidFilterFault" message="wsntw:InvalidFilterFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="UnrecognizedPolicyRequestFault" message="wsntw:UnrecognizedPolicyRequestFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="NotifyMessageNotSupportedFault" message="wsntw:NotifyMessageNotSupportedFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <wsdl:input message="wsntw:GetCurrentMessageRequest" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/GetCurrentMessageRequest"/>
      <wsdl:output message="wsntw:GetCurrentMessageResponse" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/GetCurrentMessageResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="MultipleTopicsSpecifiedFault" message="wsntw:MultipleTopicsSpecifiedFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="TopicExpressionDialectUnknownFault" message="wsntw:TopicExpressionDialectUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsn/fault"/>
      <wsdl:fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
    </wsdl:operation>
    <wsdl:operation name="terminate">
      <wsdl:input name="terminateInputMessage" message="gtwsdl1:terminateInputMessage" wsaw:Action="http://www.globus.org/namespaces/2008/03/gram/job/terminate"/>
      <wsdl:output name="terminateOutputMessage" message="gtwsdl1:terminateOutputMessage" wsaw:Action="http://www.globus.org/namespaces/2008/03/gram/job/terminateResponse"/>
      <wsdl:fault name="delegatedCredentialDestroyFault" message="gtwsdl2:delegatedCredentialDestroyFault" wsaw:Action="http://docs.oasis-open.org/wsrf/faults"/>
      <wsdl:fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsrf/faults"/>
      <wsdl:fault name="resourceNotTerminatedFault" message="gtwsdl1:resourceNotTerminatedFault" wsa:Action="http://docs.oasis-open.org/wsrf/faults"/>
    </wsdl:operation>
    <wsdl:operation name="SetTerminationTime">
      <wsdl:input name="SetTerminationTimeRequest" message="wsrlw:SetTerminationTimeRequest" wsaw:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeRequest"/>
      <wsdl:output name="SetTerminationTimeResponse" message="wsrlw:SetTerminationTimeResponse" wsaw:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeResponse"/>
      <wsdl:fault name="UnableToSetTerminationTimeFault" message="wsrlw:UnableToSetTerminationTimeFault"/>
      <wsdl:fault name="ResourceUnavailableFault" message="gtwsdl0:ResourceUnavailableFault" wsaw:Action="http://docs.oasis-open.org/wsrf/faults"/>
      <wsdl:fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsrf/faults"/>
      <wsdl:fault name="TerminationTimeChangeRejectedFault" message="wsrlw:TerminationTimeChangeRejectedFault" wsaw:Action="http://docs.oasis-open.org/wsrf/faults"/>
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input message="rdv:RegisterInputMessage"/>
      <wsdl:output message="rdv:RegisterOutputMessage"/>
      <wsdl:fault name="rankTakenFault" message="rdv:rankTakenFaultMessage"/>
      <wsdl:fault name="capacityReachedFault" message="rdv:capacityReachedFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyRequest"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnavailableFault" message="gtwsdl0:ResourceUnavailableFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault"/>
    </wsdl:operation>
    <wsdl:operation name="release">
      <wsdl:input name="releaseInputMessage" message="gtwsdl3:releaseInputMessage" wsaw:Action="http://www.globus.org/namespaces/2008/03/gram/job/release"/>
      <wsdl:output name="releaseOutputMessage" message="gtwsdl3:releaseOutputMessage" wsaw:Action="http://www.globus.org/namespaces/2008/03/gram/job/releaseResponse"/>
      <wsdl:fault name="resourceNotReleasedFault" message="gtwsdl3:resourceNotReleasedFault" wsaw:Action="http://docs.oasis-open.org/wsrf/faults"/>
      <wsdl:fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsrf/faults"/>
    </wsdl:operation>
  </wsdl:portType>
    <xsd:import xmlns:xsd="http://www.w3.org/2001/XMLSchema" namespace="http://docs.oasis-open.org/wsrf/bf-2" schemaLocation="../../wsrf/faults/bf-2.xsd"/>
</wsdl:definitions>
